{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <form class="form-login" method="post" action="">
            <label> Nom d'utilisateur <br>
                <input class="form-login-input" type="text">
            </label>
            <label for=""> Mot de passe <br>
                <input class="form-login-input" type="password">
            </label>
            <button class="btn-login">Se connecter</button>
        </form>
    </div>

{% endblock %}