{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <form class="form-login" method="post" action="">
            <label> Nom d'utilisateur <br></label>
                <input class="form-login-input" type="text">
            <label> Email</label> <br>
                <input class="form-login-input" type="email">
            <label for=""> Mot de passe</label> <br>
                <input class="form-login-input" type="password">
            <label for=""> Confirmer Mot de passe</label>
                <input class="form-login-input" type="password">

            <button class="btn-login">Se connecter</button>
        </form>
    </div>

{% endblock %}