{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="forum-intro">
            <h2>Forum</h2>
            <i class="fa-solid fa-magnifying-glass intro-icon"></i>
            <input type="text" placeholder="Recherher un sujet">
        </div>
        <div class="forum-sujets">
            <div class="forum-sujets-category">
                <h4>Catégories</h4>
                <hr class="separator-sujets-category">
                <ul>
                    <li><b>Les bases</b></li>
                    <li class="forum-category"><a href=""><i class="fa-brands fa-html5"></i> HTML</a></li>
                    <li class="forum-category"><a href=""><i class="fa-brands fa-css3-alt"></i> CSS</a></li>
                </ul>
                <ul>
                    <li><b>Front-end</b></li>
                    <li class="forum-category"><a href=""><i class="fa-brands fa-js"></i> Javascript</a></li>
                    <li class="forum-category"><a href=""><i class="fa-brands fa-react"></i> ReactJS</a></li>
                    <li class="forum-category"><a href=""><i class="fa-brands fa-vuejs"></i> VueJS</a></li>
                    <li class="forum-category"><a href=""><i class="fa-brands fa-angular"></i> Angular</a></li>
                </ul>
                <ul>
                    <li><b>Back-end</b></li>
                    <li class="forum-category"><a href=""><i class="fa-brands fa-php"></i> PHP</a></li>
                    <li class="forum-category"><a href=""><i class="fa-brands fa-symfony"></i> Symfony</a></li>
                    <li class="forum-category"><a href=""><i class="fa-brands fa-laravel"></i> Laravel</a></li>
                    <li class="forum-category"><a href=""><i class="fa-brands fa-wordpress"></i> Wordpress</a></li>
                </ul>
                <ul>
                    <li> <b>Base de données</b></li>
                    <li class="forum-category"><a href=""><i class="fa-solid fa-database"></i> SQL</a></li>
                </ul>
            </div>
            <div class="forum-sujets-list">
                <div class="forum-sujet">
                    <div class="forum-sujet-content">
                        <h4><a href="{{ path('forum.subject') }}">Titre du sujet</a> <i class="fa-solid fa-check"></i></h4>
                        <hr class="separator-forum">
                        <p>
                            <b>Warez</b>, il y a 1 heure
                        </p>
                    </div>
                    <div class="forum-sujet-object">
                        <p>
                            <i class="fa-brands fa-php icons-forum icons-forum"></i> PHP
                            <i class="fa-solid fa-comment icons-forum"></i> 12
                        </p>
                        <hr class="separator-forum">
                    </div>
                </div>
                <div class="forum-sujet">
                    <div class="forum-sujet-content">
                        <h4><a href="">Titre du sujet</a> <i class="fa-solid fa-check"></i></h4>
                        <hr class="separator-forum">
                        <p>
                            <b>Warez</b>, il y a 1 heure
                        </p>
                    </div>
                    <div class="forum-sujet-object">
                        <p>
                            <i class="fa-brands fa-php icons-forum icons-forum"></i> PHP
                            <i class="fa-solid fa-comment icons-forum"></i> 12
                        </p>
                        <hr class="separator-forum">
                    </div>
                </div>
                <div class="forum-sujet">
                    <div class="forum-sujet-content">
                        <h4><a href="">Titre du sujet</a> <i class="fa-solid fa-check"></i></h4>
                        <hr class="separator-forum">
                        <p>
                            <b>Warez</b>, il y a 1 heure
                        </p>
                    </div>
                    <div class="forum-sujet-object">
                        <p>
                            <i class="fa-brands fa-php icons-forum icons-forum"></i> PHP
                            <i class="fa-solid fa-comment icons-forum"></i> 12
                        </p>
                        <hr class="separator-forum">
                    </div>
                </div>
                <div class="forum-sujet">
                    <div class="forum-sujet-content">
                        <h4><a href="">Titre du sujet</a> <i class="fa-solid fa-check"></i></h4>
                        <hr class="separator-forum">
                        <p>
                            <b>Warez</b>, il y a 1 heure
                        </p>
                    </div>
                    <div class="forum-sujet-object">
                        <p>
                            <i class="fa-brands fa-php icons-forum icons-forum"></i> PHP
                            <i class="fa-solid fa-comment icons-forum"></i> 12
                        </p>
                        <hr class="separator-forum">
                    </div>
                </div>
                <div class="forum-sujet">
                    <div class="forum-sujet-content">
                        <h4><a href="">Titre du sujet</a> <i class="fa-solid fa-check"></i></h4>
                        <hr class="separator-forum">
                        <p>
                            <b>Warez</b>, il y a 1 heure
                        </p>
                    </div>
                    <div class="forum-sujet-object">
                        <p>
                            <i class="fa-brands fa-php icons-forum icons-forum"></i> PHP
                            <i class="fa-solid fa-comment icons-forum"></i> 12
                        </p>
                        <hr class="separator-forum">
                    </div>
                </div>
                <div class="forum-sujet">
                    <div class="forum-sujet-content">
                        <h4><a href="">Titre du sujet</a> <i class="fa-solid fa-check"></i></h4>
                        <hr class="separator-forum">
                        <p>
                            <b>Warez</b>, il y a 1 heure
                        </p>
                    </div>
                    <div class="forum-sujet-object">
                        <p>
                            <i class="fa-brands fa-php icons-forum icons-forum"></i> PHP
                            <i class="fa-solid fa-comment icons-forum"></i> 12
                        </p>
                        <hr class="separator-forum">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}