{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="forum-subject-header">
            <div class="forum-subject-title">
                <h2>Sujet 1 : Problème avec mon controller</h2>
                <p><b>Warez</b>, il y a 1 heure</p>
            </div>
        </div>
        <div class="forum-subject-body">
            <div class="forum-subject-content">
                <div class="forum-subject-author">
                    <p>
                        Bonjour à tous,
                        J'ai une petite préoccupation au passage.
                        Pensez-vous qu'il faut nécessairement maitriser ReactJs avant de faire le natif ?
                        Bonjour à tous,
                        J'ai une petite préoccupation au passage.
                        Pensez-vous qu'il faut nécessairement maitriser ReactJs avant de faire le natif ?
                        Bonjour à tous,
                        J'ai une petite préoccupation au passage.
                        Pensez-vous qu'il faut nécessairement maitriser ReactJs avant de faire le natif ?
                        Bonjour à tous,
                        J'ai une petite préoccupation au passage.
                        Pensez-vous qu'il faut nécessairement maitriser ReactJs avant de faire le natif ?
                    </p>
                </div>
                <div class="forum-subject-response">
                    <h2>2 réponses</h2>
                    <hr class="separator-subject">
                    <div class="forum-subject-responses">
                        <div class="forum-responses">
                            <p><b>Warez</b>, il y a 30 minutes</p>
                            <p>Bonjour Jonas, il est préférable d'avoir des bases en reactJs avant de se lancer en reactNative. Cela facilitera son apprentissage est ses concepts.</p>
                        </div>
                    </div>
                    <div class="forum-subject-responses">
                        <div class="forum-responses">
                            <p><b>Warez</b>, il y a 30 minutes</p>
                            <p>Bonjour Jonas, il est préférable d'avoir des bases en reactJs avant de se lancer en reactNative. Cela facilitera son apprentissage est ses concepts.</p>
                        </div>
                    </div>
                </div>
                <div class="forum-subject-form">
                    <p>Votre message</p>
                    <textarea name="" id="" cols="70" rows="3"></textarea> <br>
                    <button class="btn-subject-form"><a href="">Répondre</a></button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}